<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sws="http://www.springframework.org/schema/web-services"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/oxm
http://www.springframework.org/schema/oxm/spring-oxm-1.5.xsd http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/webservices-1.5.xsd">
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>service.properties</value>
            </list>
        </property>
    </bean>

    <bean id="database" class="com.dare2date.applicationservice.JDBCAuthorisationService">
        <property name="dbusername" value="${jdbc.username}" />
        <property name="dbpassword" value="${jdbc.password}" />
        <property name="url" value="${jdbc.url}"/>
    </bean>

    <bean id="facebookService" class="com.dare2date.businessservice.FacebookService">
        <property name="authorisationService" ref="database" />
        <property name="facebook" ref="facebookApi" />
    </bean>

    <bean id="facebookApi" class="com.dare2date.externeservice.facebook.FacebookAPI">
        <property name="appId" value="${facebook.appid}" />
        <property name="appSecret" value="${facebook.appsecret}" />
        <property name="httpClient" ref="httpClient" />
    </bean>

    <bean id="lastFmAPI" class="com.dare2date.externeservice.lastfm.LastfmAPI">
        <property name="apiKey" value="${lastfm.apikey}" />
        <property name="httpClient" ref="httpClient" />
    </bean>

    <bean id="lastfmService" class="com.dare2date.businessservice.LastfmService">
        <property name="authorisationService" ref="database" />
        <property name="lastfmAPI" ref="lastFmAPI" />
    </bean>

    <bean id="httpClient" class="com.dare2date.utility.HttpClient">
    </bean>

    <bean id="messageFactory" class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory" />
	<bean id="messageReceiver"
		class="org.springframework.ws.soap.server.SoapMessageDispatcher" />

    <bean id="schemaCollection"
		class="org.springframework.xml.xsd.commons.CommonsXsdSchemaCollection">
		<property name="xsds">
			<list>
				<value>/kenikjounietergensvan/messages.xsd</value>
			</list>
		</property>
		<property name="inline" value="true" />
	</bean>

	<bean id="kenIkJouNietErgensVanService" class="com.dare2date.kenikjounietergensvan.webservice.KenIkJouNietErgensVanEndpoint">
		<constructor-arg ref="marshaller" />
		<constructor-arg ref="unmarshaller" />

        <property name="facebookService" ref="facebookService" />
        <property name="lastFmService" ref="lastfmService" />
	</bean>

    <bean
		class="org.springframework.ws.server.endpoint.adapter.MarshallingMethodEndpointAdapter">
		<constructor-arg ref="marshaller" />
	</bean>

    <bean id="marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="contextPath" value="com.dare2date.kenikjounietergensvan.webservice" />
	</bean>
	<bean id="unmarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="contextPath" value="com.dare2date.kenikjounietergensvan.webservice" />
	</bean>

    <bean id="annotationMapping"
		class="org.springframework.ws.server.endpoint.mapping.PayloadRootAnnotationMethodEndpointMapping">
		<property name="interceptors">
			<list>
				<bean
					class="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor" />
				<bean
					class="org.springframework.ws.soap.server.endpoint.interceptor.SoapEnvelopeLoggingInterceptor" />
				<bean
					class="org.springframework.ws.soap.server.endpoint.interceptor.PayloadValidatingInterceptor">
					<property name="xsdSchemaCollection" ref="schemaCollection" />
					<property name="validateRequest" value="true" />
					<property name="validateResponse" value="true" />
				</bean>
			</list>
		</property>
		<property name="order" value="1" />
	</bean>

    <bean id="kenikjounietergensvanservice"
		class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition">
		<property name="schemaCollection" ref="schemaCollection" />
		<property name="portTypeName" value="Service" />
		<property name="locationUri" value="http://localhost:8080/kenikjounietergensvan" />
		<property name="targetNamespace"
			value="http://www.dare2date.nl/schemas/kenikjounietergensvan/definitions" />
	</bean>
</beans>